.ant-table-thead {
  .ant-table-cell {
    font-weight: 600;
    color: #999 !important;
    background: #fafafa !important;
    height: 26px !important;
    font-size: 12px !important;
    font-weight: normal;
    padding: 4px 12px !important;
  }
}
